<section class="Menu-display">
    <% Menu.all.each do |menu| %>
        <ul>
            <li>
                <div class="Menu-listDetails">
                    <%= form_with( url: "/menus/#{menu.id}", method: "put") do %>
                        <%= radio_button_tag(:active_menu, nil, menu.active_menu ? true:false, onclick: "this.form.submit()") %>
                    <% end %>
                    <p><%= menu.name %></p>
                    <%= form_with(url: "/menus/#{menu.id}", method: "delete") do %>
                        <%= image_submit_tag("delete.png", options = {class: "MenuSection-icon"}) %>
                    <% end%>
                    <%= link_to image_tag("edit.png"), "/menus/#{menu.id}/edit", class: "MenuSection-icon"%>
                </div>
            </li>
        </ul>
    <% end %>
</section