<section>
    <ul>
        <% User.all.where(role: role).order(:first_name).each do |users|%>
            <li class="AdminUsers-list">
                <section class="AdminUsers-section">
                    <p class="AdminUsers-sectionName"><%= users.first_name%></p>
                    <p class="AdminUsers-sectionEmail"><%= users.email%></p>
                    <% if role == "clerk"%>
                        <%= form_with(url: admin_path(id: users.id), method: "delete", data: { confirm: 'Confirm: Remove User !! Are you sure?' }) do %>
                            <%= image_submit_tag("delete.png", class: "AdminUsers-deleteIcon") %>
                        <% end%>
                        <%= link_to image_tag("edit.png", class: "AdminUsers-editIcon"), edit_admin_path(id: users.id)%>
                    <% end %>
                </section>
            </li>
        <% end %>
    </ul>
</section>
    
