<section class="Menu-display">
    <ul>
        <% @menu_item.all.each do |menu_item| %>
            <li class="MenuItem">
                <p><%= menu_item.id%></p>
                <p><%= menu_item.name%></p>
                <p><%= menu_item.price%></p>
                <p><%= menu_item.description%></p>
                <%= form_with(url: order_items_path, method: "post") do |form| %>
                   <%= hidden_field :menu_item_id, "#{menu_item.id}" %>
                   <%= form.number_field :quantity,min: "1", value: "1" %>
                   <%= image_submit_tag ("add.png")%>
                <% end %>
            </li>
        <% end %>
    </ul>
</section>