<body class="LoginSection">
    <h2 class="Login-title">Login</h2>
        <%= form_with(url: "/todos", method: "post", class: "AddTodo") do %>
            <p>Login ID :<%= text_field(nil, nil, placeholder: "Enter your ID here", class: "") %></p>
            <p>Password :<%= password_field(nil, nil, placeholder: "Enter your password here", class: "") %></p>
            <p><%= submit_tag(:SignIn, class: "AddTodo-button") %>
            <%= button_tag(:SignUp, onclick: "window.location.href = 'https://w3docs.com';") %><p>
        <% end %>
</body>
