<body class="Home">
    <main class="Login-section">
        <p class="Home-welcome">Welcome to the Cafeteria Management System</p>

        <div class="User-authentication-bck User-authentication">
            <h2 class="Login-title">User Authentication</h2>
            <%= form_with(url: "/todos", method: "post", class: "Login-form") do %>
                <%= text_field(nil, nil, placeholder: "Enter your ID here", class:"Login-details") %>
                <p><%= password_field(nil, nil, placeholder: "Enter your password here", class:"Login-details") %></p>
                <p>
                    <%= submit_tag(:"Sign In", class: "Sign-button") %>
                    <%= button_tag(:"Sign Up", onclick: "window.location.href = 'https://w3docs.com';", class: "Sign-button") %>
                </p>
            <% end %>
        </div>
    </main>
</body>
