<% @orders.all.each do |order| %>
    <section >
        <%= form_with(url: order_path(id: order.id), method: "put") do %>
            <%= check_box_tag(:delivered_at,
                nil,
                order.delivered_at ? true : false,
                onclick: "this.form.submit()") %>
        <% end %>
    </section>
    <%= link_to :"#{order.id}", view_invoice_path(id: order.id) %>
    <p><%= order.date%></p>
    <p><%= order.user_id%></p>
    <% if order.delivered_at == nil %>
            <p>Not Delivered yet</p>
    <% else %>
            <p>Delivered at</p><%= order.delivered_at.to_s(:short)%>
    <%end%>
    
<% end %>

