<body class= "Orders">
    <p>
    <%= link_to image_tag("return.png", class:"Return-icon"), admin_index_path %>
    </p>
    <% if @current_user.role != "owner" %>
        <%= form_with(url: orders_path, method: "post") do %>
            <%= submit_tag :"Place a new order", class: "Order-button" %>
        <% end %>
    <% end %>
    <main class="Order-main">
        <p class="OrderHistory-Maintitle">Order History</p>
        <% if @current_user.role != "customer" %>
            <section class="Order-title">
                <p>Completed</p>|
                <p>Order Id</p>|
                <p>Order Date</p>|
                <p>User Status</p>|
                <p>Delivery Status</p>
            </section>
            <%= render partial: "orders-admin-section", locals: {
                orders: @orders,
            }%>
        <% else %>
            <p class="Form-flashMessage"><%= flash[:alert] %></p>
            <p class="OrderHistory-title">Not delivered</p>
            <section class="Order-title">
                <p>Order Date</p>|
                <p>Delivery Status</p>
            </section>
            <%= render partial: "orders-customer-section", locals: {
                orders: @orders.not_delivered,
            }%>
            <p class="OrderHistory-title">Previous Orders</p>
            <section class="Order-title">
                <p>Order Date</p>|
                <p>Delivery Status</p>|
                <p>Delivery Date</p>
            </section>
            <%= render partial: "orders-customer-section", locals: {
                orders: @orders.delivered,
            }%>
        <% end %>
    </main>
</body>