<% @order_items.all.each do |order_item| %>
    <br>
    <%= order_item.menu_item_name %>
    <%= order_item.menu_item_price %>
    <%= form_with(url: order_item_path(id: order_item.id), method: "put") do |form| %>
        <%= form.number_field :quantity, value: "#{order_item.quantity}", class: "MenuItem-price", min: "1", onenter: "this.form.sumit()" %>
    <%= order_item.item_value%>
    <% end %>
    <%= form_with(url: order_item_path(id: order_item.id), method: "delete", data: { confirm: 'Confirm: Remove from cart ??' }) do %>
        <%= image_submit_tag("delete.png") %>
    <% end%>
    
<% end %>



<br>
<%= link_to :"Add More", menu_items_path %>

<% if @current_order_id != nil%>
    <%= Order.find_by(id: @current_order_id).total_price%>
    <br>
    <%= link_to :"Proceed to complete order", complete_order_path %>
    <p class="Form-flashMessage"><%= flash[:error] %></p>
    <%= form_with(url: order_path(id: @current_order_id), method: "delete", data: { confirm: 'Are you sure you want to cancel the order?'}) do %>
     <%= image_submit_tag("close.png") %>
    <% end %>
<% end %>

