<html>
    <% order = Order.all.find_by(id: @id) %>
    <% user = User.all.find_by(id: order.user_id) %>
    <head>
        <title> CMS | Invoice</title>
    </head>
    <body class="Invoice-body">
        <p>
            <%= link_to image_tag("return.png", class:"Return-icon"), orders_path %>
            
        </p>
        <h1 class="InvoiceTitle">Invoice No: <%= @id %> </h1>
       <main class="Invoice-main">
            <div class="Invoice-division">
                <p>User ID: <%= !user.customer? ? "#{order.user_id}(#{user.role.capitalize})" : order.user_id%></p>
                <p>Order ID: <%= @id%></p>
            </div>
            <div class="Invoice-div">
                <p>User Name: <%= !user.customer? ? "Walk-In Customer" : user.first_name %></p>
                <p>Order Date: <%= order.date%></p>
            </div>
            <hr>
            <div class="Invoice-divisionTitle">
                <p>Item Name</p>|
                <p>Quantity</p>|
                <p>Item Price</p>          
            </div>
            <hr>
            <% @order_items.all.each do |order_item| %>
                <section class="Invoice-section">
                    <p class="Invoice-sectionName"><%= order_item.menu_item_name %></p>
                    <p class="Invoice-quantity"><%= order_item.quantity %></p>
                    <p class="Invoice-sectionPrice">₹ <%= order_item.item_value.to_i %></p>
                </section>
            <% end %>
            <hr>
            <section class="Invoice-deliveryTotal">
                <% if order.delivered_at != nil %>
                    <p class="Invoice-delivered">Delivered on: (<%= order.delivered_at.to_s(:short) %>)</p>
                <% else %>
                    <p class="Invoice-notDelivered">Not Delivered Yet</p>
                <% end %>
                <p class="Invoice-total">Total: ₹ <%= order.total_price.to_f%></p>
            </section>
        </main>
    </body>
</html>