<body class= "Report-body">
    <p>
        <%= link_to image_tag("return.png", class:"Return-icon"), admin_index_path %>
    </p>
    <% if Report.count != 0%>
        <%= form_with(url: report_path(id: Report.last.id), method: "delete", data: { confirm: 'Are you sure you want to delete the search?'}) do %>
            <%= image_submit_tag("close.png", class:"ReportCancel-icon") %>
        <% end %>
    <% end %>

    <h1 class="Report-title">Sales Report</h1>
    <% flash.each do |type, errors| %>
        <div class="Report-flashMessage">
            <%= errors["start_date"].to_a.each { |message| message }.join %>
            <br>
            <%= errors["end_date"].to_a.each { |message| message }.join %>
        </div>
    <% end %>

    <% if Report.count == 0%>
        <p>
            <%= form_with(url: reports_path, method: "post") do %>
                <div class="Report-sort">
                    <label>Start Date:</label>
                    <%= date_field(nil, :start_date, class: "Date-input", max: Date.today ) %>
                    <label>End Date:</label>
                    <%= date_field(nil, :end_date, class: "Date-input", min: ":start_date", max: Date.today ) %>   
                    <label>Search by user-ID:</label>
                    <%= number_field(nil, :user_id,class: "UserId-input", step: 1, value: 0) %>
                    <%= submit_tag :"Generate Report", class: "Sort-submit" %>
                </div>
            <% end %>
        </p>
        <section class="ReportView-title">
                <p>Info</p>|
                <p>Order Date</p>|
                <p>User Status</p>|
                <p>Delivery Status</p>|
                <p>Order Total</p>
                
        </section>
        <%= render partial: "view-report-section",locals:{
            orders: Order.delivered,
        }
        %>
    <% else %>
        <p>
            <%= form_with(url: report_path(id: Report.last.id), method: "patch") do %>
                <div class="Report-sort">
                    <label>Start Date:</label>
                    <%= date_field(nil, :start_date, class: "Date-input", max: Date.today, value: Report.last.start_date ) %>
                    <label>End Date:</label>
                    <%= date_field(nil,:end_date,class: "Date-input",min: ":start_date", max: Date.today, value: Report.last.end_date ) %>
                    <label>Search by user-ID:</label>
                    <%= number_field(nil, :user_id,class: "UserId-input", step: 1, value: 0) %>
                    <%= submit_tag :"Generate Report", class: "Sort-submit" %>
                </div>
            <% end %>
            <section class="ReportView-title">
                <p>Info</p>|
                <p>Order Date</p>|
                <p>User Status</p>|
                <p>Delivery Status</p>|
                <p>Order Total</p>
                
            </section>
        </p>
        <% report_user_id = Report.last.user_id%>
        <% if report_user_id == 0 %>
            <%= render partial: "view-report-section",locals:{
                orders: Order.sort(Report.last.start_date.to_date, Report.last.end_date.to_date).delivered,
            }
            %>
        <% else%>
            <%= render partial: "view-report-section",locals:{
                orders: Order.sort(Report.last.start_date.to_date, Report.last.end_date.to_date).where(user_id: report_user_id).delivered,
            }
            %>
        <% end %>
    <% end %>
</body>
