<!DOCTYPE html>
<html>
  <head>
    <title>Cafeteria Management System</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <h1 class="Header-title">Cafeteria Management System</h1>
    <%= yield %>
    
   <div style="bottom: 0px; position: absolute">
      <div class="Footer">
        <p class="Footer-content">Contact us</p>
        <p class="Footer-content">About us</p>
      </div>
    </div>

  </body>
</html>
