<!DOCTYPE html>
<html>
  <head>
<<<<<<< HEAD
    <title>CafeteriaManagement System</title>
=======
    <title>Cafeteria Management System</title>
>>>>>>> f8d3b4eb3987669304a475a7c152b789e10586dc
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <h1 style="text-decoration : underline; font-size: 48px; font-family: sans-serif">Cafeteria Management System</h1>
    <hr>
    
    <%= yield %>
    <div style="display :flex">
      <p style="margin-right: 10px; font-size: 16px; font-family: sans-serif:">Contact us</p>
      <p>About us</p>
    <div>

  </body>
</html>
