<!DOCTYPE html>
<html>
  <head>
    <title>Cafeteria Management System</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <div class="Header-title">
      <h1 >Cafeteria Management System</h1>
      <% if @current_user %>
        <p class="User-details">
           <%= @current_user.first_name %>
        <%= link_to "Sign-out", destroy_session_path, method: "delete", class:"Sign-button" %>
        </p>
      <% end %>
  </div>
    <%= yield %>
    
   <div style="bottom: 0px; position: fixed">
      <div class="Footer">
        <p class="Footer-content">Contact us</p>
        <p class="Footer-content">About us</p>
      </div>
    </div>

  </body>
</html>
