<!DOCTYPE html>
<html>
  <head>
    <title>CafeteriaManagement System</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <h1 style="text-decoration : underline">Cafeteria Management System</h1>
    <hr>
    
    <%= yield %>
    <div style="display :flex">
      <p style="margin-right: 10px;">Contact us</p>
      <p>About us</p>
    <div>

  </body>
</html>
